[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.19"
djangorestframework = "*"
djoser = "*"
drf-nested-routers = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
python-dotenv = "*"
mysqlclient = "*"
django-storages = "*"
boto3 = "*"
botocore = "*"
gunicorn = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.8"
